%header#site.vcard{ :itemscope => true, :itemtype => "http://schema.org/Person" }
  #basic-info
    .container
      .name-title
        %h1.fn{ :itemprop => "name" } David L Warner
        %h2.title.role UX Designer & Developer

      #contact-info
        %p#services
          %a.services-linkedin.url{ :href => "http://www.linkedin.com/in/davidlwarner", :rel => "me" } LinkedIn
          %a.services-twitter.url{ :href => "http://twitter.com/davidlwarner", :rel => "me" } Twitter
          %a.services-facebook.url{ :href => "http://www.facebook.com/davidw", :rel => "me" } Facebook
          %a.services-email.email{ :href => "mailto:david@davidlwarner.com", :itemprop => "email", :rel => "author" } david@davidlwarner.com
        %p.info
          %span.tel{ :itemprop => "telephone" } 415-609-7490
          %span.adr.address{ :itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress" }
            %span.locality{ :itemprop => "addressLocality" }> San Francisco
            ,
            %abbr.region{ :title => "California", :itemprop => "addressRegion" } CA

  #about-me.container
    #bio
      :textile

        I’m an interaction designer and front-end engineer with a decade of experience managing teams and projects. I focus on the intersection of clean design and clean code. I’m happiest when I’m creating consumer web applications and collaborating with a strong team to simplify the complex and to make people’s lives better.
        
        I’ve worked with Adaptive Path, Allstate, Crowdcast, the Metropolitan Opera, Ning, and RealNetworks. In my spare time, I geek out on music.
    
      %p= link_to "Download my resume to learn more about me.", "/David_L_Warner_Resume.pdf"

  #my-photo.container
    = img "me.jpg", :class => "photo", :itemprop => "image"

#main
  %nav#work
    .container
      #nav-wrapper
        %ul
          %li= link_to "Design", "#design", :class => "on"
          %li= link_to "Development", "#development"
          %li= link_to "Leadership", "#leadership"

  #projects.container
    %section#design
      %h2 Design
      :textile
      
        I create clear, functional interfaces. It’s important that I can write the front-end code for my designs so that I can embrace possibilities and avoid pitfalls. My design process is collaborative and relies on quick experiments to find solutions that help users, while meeting technical and business objectives.

      %h3 Ning
      %h4
        = link_to "http://ning.com", "http://ning.com"
        2006–2009
      
      :textile

        I was a designer and client-side developer for Ning’s primary product, “Your Own Social Network,” for 3 years, beginning with its inception in 2006. By the time I left in 2009, the product had 36 million users and 1.6 million social networks. Our small design team, consisting of just myself and another designer from 2006–2008, created most of the interaction and graphic design.

      %h5 The “Create Your Own Network” Flow

      .thumb

        = img "ning/gyo.jpg"

        :textile

          The interaction and graphic design of the “Create Your Own Social Network” pages was my first big project at Ning. Our goal was to make the process intuitive for non-technical users, while providing an understanding of the features and a feeling of ownership.

          I created wireframes and led usability studies to design a flow that was instrumental to the initial uptake and long-term success of the product.

      %h5 Sign Up Flows

      .thumb
      
        = img "ning/signup.png"

        :textile

          Throughout 2007, Ning was focused on rapidly adding features to support a growing number of users. However, I argued that we could boost growth by redesigning our Sign Up, Sign In, and Invitation flows and pages. We released my redesign in the last weeks of 2007 and saw a dramatic surge that initiated the immense growth Ning saw in 2008.

          I updated the graphic design, flow, wording, and <abbr>HTML</abbr> & <abbr>CSS</abbr> of the pages with an eye towards lowering every hurdle. I also set up and ran several rounds of usability studies that were critical to finding and solving issues.

      %h5 Social Networking Features

      .thumb

        = img "ning/photo.jpg"

        :textile

          In addition to the core product, I worked on most of the individual features of the networks, including photos, videos, messages, forums, groups, network administration pages, and an activity stream. I also worked on the initial product design that allowed for future features to be added in a modular fashion.
        
      %h3 LoudSauce
      %h4
        = link_to "http://loudsauce.com", "http://loudsauce.com"
        2011

      .thumb

        = img "loudsauce/detail.jpg"

        :textile

          I worked on the interaction and graphic design of LoudSauce, which enables crowd-funded advertising in <abbr>TV</abbr>, billboards and print media for non-profits and social good. I collaborated with 2 Rails developers to design and build a functioning site, starting from an existing static website prototype.

      %h3 Crowdcast
      %h4
        = link_to "http://crowdcast.com", "http://crowdcast.com"
        2010

      .thumb

        = img "crowdcast/placebet.png"

        :textile

          I was the interaction and graphic designer for Crowdcast, a small startup that helps F500 companies like Electronic Arts, Hallmark, <abbr>GM</abbr>, and Oracle determine more accurate forecasts by aggregating employee knowledge through prediction markets. As the only designer, I led a redesign of the product to greatly improve usability, which led to much higher usage.

      .thumb

        = img "crowdcast/experiments.png"

        :textile

          To more quickly achieve product-market fit, I took several approaches to product experimentation, including rapidly user-testing concepts using paper prototyping and mechanical turking.


    %section#development
      %h2 Development
      :textile

        I started my career as a front-end website developer after getting a Computer Science degree. I strive to write clean and maintainable code that uses modern practices while supporting popular older web browsers. Being able to write high-quality front-end code is key to my design process and collaborating with engineering teams.

      %h3 Ning
      %h4
        = link_to "http://ning.com", "http://ning.com"
        2006–2009

      :textile

        The design team at Ning was responsible for all <abbr>HTML</abbr> and <abbr>CSS</abbr> code. Between 2006 and 2008, the team was just myself and another designer; by 2009, we had grown to 4 people. As a result, a significant part of my job was writing and maintaining high-quality code.

      %h5 Themable Networks
      
      .thumb
      
        = img "ning/themes.jpg"

        :textile

          Each network created on Ning has its own theme, consisting of colors, fonts and background images. I worked on the theme-creation page and creating an underlying product design that made sense regardless of the theme applied to it. I also created an <abbr>HTML</abbr> and <abbr>CSS</abbr> framework to support theming across many features, including new and updated features. This was accomplished by separating layout and functionality from typography, colors and graphics, and creating a shared <abbr>HTML</abbr> and <abbr>CSS</abbr> structure for common elements.

      %h3 Adaptive Path
      %h4
        = link_to "http://adaptivepath.com", "http://adaptivepath.com"
        2005

      .thumb
      
        = img "adaptivepath/allstate.png"

        :textile

          I worked for Adaptive Path to build a prototype for a web application for Allstate to provide insurance quotes. As the lead web developer, I built <abbr>HTML</abbr>, <abbr>CSS</abbr>, JavaScript and graphics. I worked with developers and designers from Adaptive Path and Allstate. I wrote object-oriented JavaScript to load <abbr>XML</abbr> and <abbr>HTML</abbr> files, save and retrieve data entered by the user, and add animated transitions and effects.

      %h3 POP
      %h4
        = link_to "http://pop.us", "http://pop.us"
        2002–2005

      :textile

        As a web developer at POP, an interactive agency in Seattle, I developed websites for the Metropolitan Opera, the Seattle Opera, and the Mars Rovers Science Team.

      %h5 Metropolitan Opera

      .thumb
      
        = img "pop/met.jpg"

        :textile

          In 2005, the Metropolitan Opera launched its first website update in 10 years, replacing a small static site with a dynamic site that included online ticketing and several hundred pages of information and history.

          As the lead front-end developer, I built an <abbr>HTML</abbr> and <abbr>CSS</abbr> structure and led 2 junior front-end developers to build out the site. I wrote a script to generate the graphic headers from a text file, and made an <abbr>XSL</abbr> transformation that allowed us to manage the 4-level navigational structure of the site from a single file.

    %section#leadership
      %h2 Leadership

      %p In addition to design and front-end development, I’ve also led projects and teams.

      %h3 Ning
      %h4
        = link_to "http://ning.com", "http://ning.com"
        2006–2009

      :textile

        As lead designer, I worked with all area and levels of the company, including engineering, product management, the support team, and daily collaboration with the <abbr>CEO</abbr>. In addition, I led usability studies to incorporate outside user feedback into our product. From 2006–2009, I was the only constant member of the product team besides the <abbr>CEO</abbr>.

        I recruited and managed the team of designers and front-end developers responsible for all interaction design, graphic design, and <abbr>HTML</abbr> & <abbr>CSS</abbr> code. To recruit them, I identified candidates, reviewed resumes and portfolios, ran phone screens, selected the most promising candidates for on-site interviews, conducted interviews, participated in hiring conversations.

        I also represented Ning at <abbr>SXSW</abbr> in 2008 on the panel discussion “Designing for Freedom”.

      %h3 POP
      %h4
        = link_to "http://pop.us", "http://pop.us"
        2003–2005

      :textile

        As web development director and a technical director, I led a team of 5 full-time web developers. In addition, I interviewed, hired and managed web development contractors. I also updated the company’s coding standards to <abbr>CSS</abbr>-based <abbr>XHTML</abbr> layout.

        I was responsible for the technical success of several clients, including InfoSpace, the Seattle Arts Coalition, and online ticketing systems for the Indianapolis Symphony Orchestra, Houston Symphony, and Houston Ballet. I worked with clients, designers, developers, and producers to meet deadlines and budgets.

      %h3 RealNetworks
      %h4
        = link_to "http://real.com", "http://real.com"
        1998–2001

      :textile

        As a program manager from 1999–2001, I managed development for the RealSlideshow product. I subsequently managed the My Channels program, supporting over 50 major companies that launched new or updated design for daily multimedia presentations, including <abbr>ABC</abbr> News, <abbr>CNN</abbr> and <abbr>NPR</abbr>.

        I spoke at numerous conferences representing RealNetworks, including Internet World, Flash Forward, and the Real Conference.
      